@font-face {
    font-family: digit;
    src: url('../digital-7_mono.ttf') format("truetype");
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);
}

#content {
    margin: 0 auto;
}

.screen {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: absolute;
    display: none;
    text-align: center;
    background: #FFFFEE;
}

#married {
    font-family: digit;
    display: none;
    color: #B750DC;
    font-size: 18px;
}

.current {
    display: block;
}

#loveHeart {
    width: 320px;
    height: 298px;
}

#garden {
    width: 100%;
    height: 100%;
}

#elapseClock {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: monospace;
}

#messages {
    display: none;
}

#elapseClock .digit {
    font-family: monospace;
    font-size: 18px;
}

#clickSound {
    display: none;
}

.name {
    font-size: 18px;
    margin-top: 20px;
    color: #AD8F8F;
    font-family: monospace;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-size: 0;
}

.image-list {
    list-style: none;
}

.sub-image-list {

    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;

    display: -webkit-flex;
    -webkit-align-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: space-around;
    -webkit-flex-direction: row;

    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    flex-direction: row;

    width: 100%;
    height: 100%;
    text-align: center;
    list-style: none;
}


.image-list-2 {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 30px 0;
    box-sizing: border-box;
}

.image-list-2 > li {
    width: 100%;
}

.element-box {
    overflow: hidden;
    border: 8px solid rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 0;
    font-size: 0;
}

.sub-image-list .element-box {
    border: none;
}

.half-screen {
    height: 50%;
}

#typer {
    text-align: left;
    margin: 20px 10px;
    word-break: break-all;
}

#detail-btn {
    margin: 20px 0;
    background: #876AD4;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    padding: 4px 20px;
    display: none;
}

.first-page {
    background: url("../img/bg.jpg");
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    color: white;
}

.first-page .title {
    color: white;
    margin-top: 73px;
    font-size: 33px;
}

#invite {
    color: yellow;
    margin-top: 20px;
    font-size: 50px;
}

.content {
    font-size: 20px;
    line-height: 25px;
}

.info {
    margin-top: 60px;
    font-size: 18px;
    color: white;
    line-height: 20px;
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;;
}

.info .content {
    color: orange;
    font-size: inherit;
}

.arrow {
    position: absolute;
    bottom: 35px;
    left: 50%;
    z-index: 150;
    width: 48px;
    height: 28px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pre-wrap {
    width: 48px;
    height: 28px;
    position: relative;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}

.pre1, .pre2 {
    background-color: #fff;
    width: 28px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    box-shadow: 1px -1px 1px #646464;
    top: 10px;
}

.pre-box1, .pre-box2 {
    height: 30px;
    width: 33px;
    position: absolute;
    top: 10px;
    overflow: hidden;
}

.pre-box2 {
    left: 10px;
}

.pre1 {
    -webkit-transform:  rotate(130deg);
    transform: rotate(130deg);
    left: 1px;
}

.pre2 {
    left: 3px;
    -webkit-transform:  rotate(50deg);
    transform: rotate(50deg);
}

.vertical-center {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;

    width: 100%;
    height: 100%;
    text-align: center;
}


@-webkit-keyframes start {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
        transform: translate(0, -8px)
    }
}

@-webkit-keyframes rollInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes rollInFromBottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, -120deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideFromTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideFromBottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes start {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
        transform: translate(0, -8px)
    }
}

@keyframes rollInFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes rollInFromBottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, -120deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -200%, 0);
        transform: translate3d(0, -200%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

